body {
    background: linear-gradient(#5164b5, #9437ff);
}

i {
  color: #fff;
  margin: 0 2% 0 2%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-bottom: 1%;
}

.logo-text {
  width: 60%;
  margin: 2% 0 2% 0;
}

.icons {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.twitch {
  text-align: center;
}
